{% extends 'base.html.twig' %}

{% block title %}Hello MechanicsController!{% endblock %}

{% block body %}


    <h1>Hello ! ✅</h1>

    <form action="{{path('mechanics_store')}}" method="POST">

    Name: <input type="text" name="mech_name"> </input>
    Surame: <input type="text" name="mech_surname"> </input>

    <button type="sumbit">New Mechanic</button>
    </form>


{% endblock %}
