{% extends 'base.html.twig' %}

{% block title %}Trucks list{% endblock %}

{% block body %}

    <h1>Trucks in Library</h1>

List:
    <ul>
    {% for truck in trucks %}
    <li>{{truck.maker}} {{truck.plate}}
    <a href="{{path('trucks_edit',{id: truck.id}) }}"> EDIT </a>
    <form action="{{path('trucks_delete',{id: truck.id}) }}" method="POST">  
    <button type="sumbit"> DELETE </button>
    </form> 

    </li>
    {% endfor %}
    </ul>
{% endblock %}
